main {
    background-color: var(--dark-solid);
}
/* PORTADA */

.portada {
    background-image: url(../../images/Portada.png);
    padding: var(--spacing-128);
    background-position: top;
    background-size: auto 80vh;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    height: 350px;
}

.portada::before {
    content:'';
    background-color: rgba(0, 0, 0, 0); 
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);

}

.portada_content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.portada_title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid)
}

.portada_text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid)

}
.nav_link {
    display: inline-block;
    font-size:var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px ;
    font-weight: 500 ;
    transition: all .3s ease-in-out;
    
}

.nav_link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/* productsS */

.products {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: var(--spacing-68) 0;
}

.products_content {
    display:flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.products_title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
    color: var(--light-font-solid);

}
.products_text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 3px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
    color: var(--light-font-solid);


}

.image_cover {
    flex: 1; /* Para que la imagen ocupe un espacio igual al contenido */
    max-width: 90%; /* Limita el tamaño máximo de la imagen al 50% del ancho */
}

.image_cover img {
    width: 100%; /* Imagen ocupa todo el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Añade un borde redondeado (opcional) */
}


/* Contenedor de contacto */
.contact-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-36);
    padding: var(--spacing-36);
    background-color: var(--dark-900);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(255, 4, 4);
    color: var(--light-font-solid);
}

.contact-details {
    flex: 1;
}

.contact-title {
    font-size: var(--font-large);
    font-weight: 500;
    color: var(--primary-solid);
    border-bottom: 3px solid var(--primary-solid);
    padding-bottom: var(--spacing-12);
    margin-bottom: var(--spacing-16);
}

.contact-details p {
    font-size: var(--font-medium);
    color: var(--light-font-solid);
    margin: var(--spacing-8) 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.contact-details img {
    width: 24px;
    height: 24px;
}
